
Thumbs.db
ehthumbs.db
desktop.ini
.DS_Store
.AppleDouble
.LSOverride


.vscode/
.idea/
*.swp
*.swo
.obsidian/workspace.json
.obsidian/workspace

out/
build/
*.pdf
*.log
*.aux


__pycache__/
*.pyc
venv/
env/
.env
.ipynb_checkpoints/